*.class
*.log

# sbt specific
.cache
.cache-main
.cache-tests
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/


# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# worksheets/
pipeline-template/src/test/worksheets/
